<h2>About Parliamentary...</h2>
<p>Parliamentary was created by <a href="http://uk.linkedin.com/in/allancallaghan">Allan Callaghan</a>, <a href="http://uk.linkedin.com/pub/chris-girling/28/612/baa">Shish Girling</a>, <a href="">Greg Mackelden</a> and <a href="http://uk.linkedin.com/in/gregmiell">Greg Miell</a> at the <a href="http://rewiredstate.org/projects/parliamentary">Rewired State Parliament Hack</a> weekend as a proof of concept for use of the UK Parliament's open data.</p>
<p>Our presentation is available to view <a href="/about/presentation">here</a>.</p>
