<!DOCTYPE HTML>
<html>
  <head>
    <title>Parliamentary, my dear Watson</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/jqcloud.js"></script>
  </head>
  <body>
    <header>
        <div class="header">
            <a href="/"><img src="/images/logo.png" /></a>
        </div>
    </header>
    <div class="wrapper">
        {{html body}}
    </div>
    <footer>
        <div class="footer">
            disclaimers and shit yo
        </div>
    </footer>
  </body>
</html>
