<h1>Who's talking about ${word.name}?</h1>
<!--${word.name}-->

<!--<h2>Used by</h2>-->
<div style="text-align: center;">
{{each word.people}}
  <!--<li><a href="/person/${$value.person.id}">${$value.person.name} <b>${$value.uses} times</b></a></li>-->
  <a style="display:inline-block; vertical-align:middle; text-decoration: none; padding: 0em 0.5em; font-size: ${Math.max(10, Math.log($value.uses - min_uses + 1)*10)}px"
  href="/person/${$value.person.id}">${$value.person.name}<!-- <b>${$value.uses} times</b>--></a>
{{/each}}
</div>
